:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3fd61182;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.colorchange button{
  background-color: #242424;
}

.content{
  background-color: #213547;
  text-align: center;
  width: 600px;
  min-height:600px ;
  border-radius: 18px;
  box-shadow: 0 0 10px white;
}
.content h1{
  color: #f9f9f9;
}
.content input{
  width: 300px;
  padding: 15px;
  border-radius: 18px;
  margin-right: 10px;
  margin-top: 10px;
border: 1px solid white;
}

.content input::placeholder{
  color: #ffffff;
  text-align: center;
}


.mainfield{
display: flex;
flex-wrap:wrap ;
justify-content: space-between;
margin-top: 10px;
background-color: #0707075a;
backdrop-filter: blur(10px);
padding: 9px;
}
.mainfield p{
  font-weight: 700;
  text-shadow: 0  0 20px red;
  margin-left: 25px;
  font-size:20px ;


}
.mainfield button{
  padding: 5px;
  height: 50px;
  margin-top: 20px;
}

.updatebtn{
  background-color: rgb(189, 82, 43);

}
.dltbtn{
  background-color: red;
}